* {
    margin: 0;
    padding: 0
}

body {
    background: #000;
}

canvas {
    display: block;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 0;

}

nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

li {
    color: white;
    cursor: pointer;
}